.template_form-ctn {
    min-height: 50vh;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 20px 20px 40px hsla(0, 0%, 0%, 0.336);
    padding: 2em;

}

.template_form-input-ctn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;


    &>label {
        width: fit-content;
    }

    &>p {
        padding: 0;
        margin: 0;
    }

    &>select {
        width: 100%;
    }

}

.template_form-input {
    padding: .5em;
    width: 100%;
}