.editing_header-ctn {
    background-color: var(--primary);
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.288);
    width: 100%;
    height: 4em;
    top: 100px;
    // padding: 10em;
    border: 1px solid red($color: #000000);
    z-index: 1;
}