.template_flex-ctn {
    display: flex;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.campaign_flex-ctn {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow-y: scroll;
}

.add_task-btn {
    width: 98%;
    height: fit-content;
    margin-top: .75em;
    border: 1px solid grey;
    border-radius: 10px;
    padding: .75em;
    font-size: large;
    cursor: pointer;
    color: var(--tertiary);
    transition: 250ms ease-in all;

    &:hover {
        color: var(--text-white)
    }

    &>span {
        margin-left: 1em;
    }
}