.event_slice-ctn {
    position: relative;
    display: flex;
    width: var(--section-size);
    justify-content: space-between;

    &>span {
        display: flex;
        // min-width: 20%;
    }
}

.slice-cell {
    font-size: .9em;
    max-width: 100%;
    width: 100%;
    text-align: left;
    border: 1px solid grey;
    padding: 1em;
    position: relative;

}

.slice-cell.edit {
    border: 1px solid red;
    position: relative;
}

.slice-cell-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%)
}