.nav-ctn {
    height: 10vh;
    position: relative;
    border-bottom: 1px solid #151515;
    width: 100vw;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .links-ctn {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2em;
    }

    .btn-ctn {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        align-items: center;
    }

    .user-icon {
        border-radius: 100%;
        border: grey 1px;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3em;
        background-color: black;
        cursor: pointer;
    }
}