.task_form-ctn {
    display: flex;
    max-width: 75vw;
    margin-top: 1em;
}

.task_form-input-ctn {
    width: 100%;

    &>span {
        display: flex;
    }

    &>textarea {
        max-width: auto;
        min-width: auto;
        height: 1.3em
    }
}

.task_form-input {
    padding: 1em;
    width: 100%;

    &.error {
        border: 1px solid red
    }

}

.slice-ctn {
    position: relative;
    display: flex;
    width: 75vw;
    justify-content: space-between;

    &>span {
        display: flex;
        // min-width: 20%;
    }
}

.slice-cell {
    font-size: .9em;
    max-width: 100%;
    width: 100%;
    text-align: left;
    border: 1px solid grey;
    padding: 1em;

}

// .edit_delete-ctn {
//     position: absolute;
//     right: 0;
//     top: 0;
// }

.submit-btn {
    position: absolute;
    right: 0;
    transform: translateY(3px);
}